@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the main container */
.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling for the headings */
h1 {
    margin-bottom: 10px;
}

/* Styling for the author's name */
.author-name {
    font-size: 1.2em;
    /* font-weight: bold; */
}

/* Styling for the blog detail */
.blog-detail {
    margin-top: 10px;
    color: #666; /* Adjust the color as needed */
}




